In [5]:
import time
import math

import numpy as np
import pandas as pd

import torch
from torch import nn, optim
from torch.utils.data import Dataset, DataLoader

In [6]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [7]:
!wget 'https://drive.google.com/uc?export=download&id=1nuMuI2dO0JXdU5MuZjGHADC1Y6jvanaw' -O new_skels.csv

--2021-07-08 19:06:21--  https://drive.google.com/uc?export=download&id=1nuMuI2dO0JXdU5MuZjGHADC1Y6jvanaw
Resolving drive.google.com (drive.google.com)... 172.217.2.110, 2607:f8b0:4004:82f::200e
Connecting to drive.google.com (drive.google.com)|172.217.2.110|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-00-58-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/kb6elnck0cbdr66i4ri9g5gt357qmhl1/1625771175000/14273303898397132356/*/1nuMuI2dO0JXdU5MuZjGHADC1Y6jvanaw?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-07-08 19:06:23--  https://doc-00-58-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/kb6elnck0cbdr66i4ri9g5gt357qmhl1/1625771175000/14273303898397132356/*/1nuMuI2dO0JXdU5MuZjGHADC1Y6jvanaw?e=download
Resolving doc-00-58-docs.googleusercontent.com (doc-00-58-docs.googleusercontent.com)... 142.250.73.225, 2607:f8b0:4004:82a::2001
Connecting to doc-00-58-docs.googleusercontent.com (doc-00-58-docs.googleusercontent.com)|142.250.73.225|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘new_skels.csv’

new_skels.csv           [  <=>               ]  38.50M   139MB/s    in 0.3s

2021-07-08 19:06:23 (139 MB/s) - ‘new_skels.csv’ saved [40373406]

1. Сгенерировать меньший датасет из 8-10 классов движения

In [8]:
skeletons_df = pd.read_csv('/content/new_skels.csv')

In [9]:
skeletons_df.head()

          0         1         2         3  ...      3372      3373      3374  labels
0  0.107169  0.155336  3.774813  0.087842  ...  0.265206  0.617021  3.454333       1
1  0.073530  0.176115  3.790838  0.066357  ...  0.140844  0.632283  3.666000       1
2  0.101858  0.157313  3.801223  0.106297  ...  0.142348  0.125880  3.552154       1
3 -0.017126 -0.549648  2.910658  0.008213  ... -0.037103 -0.439468  2.542185       2
4 -0.012737 -0.566869  2.961922 -0.019491  ...  0.067471 -0.449583  2.386429       2

[5 rows x 3376 columns]

In [10]:
skeletons_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1202 entries, 0 to 1201
Columns: 3376 entries, 0 to labels
dtypes: float64(3375), int64(1)
memory usage: 31.0 MB

In [11]:
skeletons_df.shape

(1202, 3376)

In [12]:
skeletons_df.labels.value_counts()

2    123
6    121
9    120
8    120
7    120
5    120
4    120
3    120
1    120
0    118
Name: labels, dtype: int64

In [13]:
action_classes =  {7: 0, 15: 1, 17: 2, 3: 3, 5: 4, 9: 5, 19: 6, 13: 7, 1: 8, 11: 9}
    
LABELS = {
    1: 'drink water',
    3: 'brushing teeth',
    5: 'drop',
    7: 'throw',
    9: 'standing up (from sitting position)',
    11: 'reading',
    13: 'tear up paper',
    15: 'take off jacket',
    17: 'take off a shoe',
    19: 'take off glasses',
}

LABELS = {action_classes[k]:v for k,v in LABELS.items()}
LABELS

{0: 'throw',
 1: 'take off jacket',
 2: 'take off a shoe',
 3: 'brushing teeth',
 4: 'drop',
 5: 'standing up (from sitting position)',
 6: 'take off glasses',
 7: 'tear up paper',
 8: 'drink water',
 9: 'reading'}

2. Обучить уже существующую модель (предварительно проанализировав, какие параметры модели нужно изменить)

In [14]:
class LSTM_net(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim, layer_num):
        super().__init__()
        
        self.hidden_dim = hidden_dim
        self.output_dim = output_dim
        
        self.lstm = nn.LSTM(input_dim, 
                            hidden_dim, 
                            layer_num, 
                            batch_first=True)
        
        self.dr = nn.Dropout2d(0.1)
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, x):
        
        lstm_out, (hn, cn) = self.lstm(x)
        
        out = self.fc(lstm_out[:, -1])
        
        return out

In [15]:
frames = 45

In [16]:
class SkeletonDataset(Dataset):
    def __init__(self, data, transform=None):
        self.data = data
        self.transform = transform
        self.labels = data.iloc[:, -1]
        self.data_len = len(self.data)
        
    def __len__(self):
        return self.data_len
    
    def __getitem__(self, idx):
        item = np.asarray(self.data.iloc[idx, :-1]).reshape(frames, 25 * 3)
        label = self.labels[idx]
        
        if self.transform:
            item = self.transform(item)
        
        return item, label

In [17]:
dataset = SkeletonDataset(skeletons_df)

In [23]:
train_len = int(0.75*len(dataset))

train_dataset, test_dataset = torch.utils.data.random_split(
    dataset,
    [train_len, len(dataset) - train_len]
)
train_loader = DataLoader(
    train_dataset,
    batch_size=16, 
    shuffle=True
)
test_loader = DataLoader(
    test_dataset, 
    batch_size=1, 
    shuffle=False
)

In [24]:
n_hidden = 128
n_joints = 25 * 3
n_categories = len(LABELS)
n_layer = 2
rnn = LSTM_net(
    n_joints,
    n_hidden,
    n_categories,
    n_layer
)
rnn.to(device)

LSTM_net(
  (lstm): LSTM(75, 128, num_layers=2, batch_first=True)
  (dr): Dropout2d(p=0.1, inplace=False)
  (fc): Linear(in_features=128, out_features=10, bias=True)
)

In [25]:
def class_from_output(output):
    top_n, top_i = output.topk(1)
    class_i = top_i[0].item()
    return LABELS[class_i], class_i


def time_since(since):
    now = time.time()
    s = now - since
    m = math.floor(s / 60)
    s -= m * 60
    return f'{m}m {int(s)}s'

In [26]:
def train(model):
  criterion = nn.CrossEntropyLoss()
  learning_rate = 0.0007
  optimizer = optim.SGD(model.parameters(), lr=learning_rate, momentum=0.9)

  all_losses = []
  start = time.time()
  counter = 0


  for epoch in range(150):  
      current_loss = 0
      running_loss = 0.0
      for i, data in enumerate(train_loader, 0):
          
          inputs, labels = data[0].to(device), data[1].to(device)
          optimizer.zero_grad()
      
          output = model(inputs.float())
          loss = criterion(output, labels)
          loss.backward()
          optimizer.step() 

          current_loss += loss.item()
          pred_label = LABELS[int(labels[0])]

          if counter % 500 == 0:
              guess, guess_i = class_from_output(output)
              correct = '✓' if guess == pred_label else f'✗ ({pred_label})'
              print(f'epoch : {epoch} iter : {i} ({time_since(start)})', end=' ')
              print(f'{loss:.4f}  / {guess} {correct}')

          
          counter = counter + 1
          
      if counter % 100 == 0:
          all_losses.append(current_loss / 25)
          current_loss = 0

In [27]:
n_hidden = 128
n_joints = 25 * 3
n_categories = len(LABELS)
n_layer = 2

rnn = LSTM_net(
    n_joints,
    n_hidden,
    n_categories,
    n_layer
)
rnn.to(device)

train(rnn)

epoch : 0 iter : 0 (0m 0s) 2.3266  / drop ✗ (take off glasses)
epoch : 8 iter : 44 (0m 16s) 2.2839  / drop ✗ (throw)
epoch : 17 iter : 31 (0m 32s) 2.2746  / drink water ✗ (throw)
epoch : 26 iter : 18 (0m 48s) 2.1940  / take off a shoe ✓
epoch : 35 iter : 5 (1m 4s) 2.2370  / drink water ✗ (take off a shoe)
epoch : 43 iter : 49 (1m 21s) 2.2343  / take off a shoe ✓
epoch : 52 iter : 36 (1m 37s) 2.1431  / drink water ✗ (reading)
epoch : 61 iter : 23 (1m 53s) 1.9214  / take off a shoe ✓
epoch : 70 iter : 10 (2m 9s) 2.2974  / drop ✗ (reading)
epoch : 78 iter : 54 (2m 26s) 2.0500  / take off a shoe ✗ (drop)
epoch : 87 iter : 41 (2m 42s) 2.0010  / standing up (from sitting position) ✓
epoch : 96 iter : 28 (2m 58s) 1.8940  / drink water ✓
epoch : 105 iter : 15 (3m 14s) 1.6701  / drink water ✗ (throw)
epoch : 114 iter : 2 (3m 31s) 1.8835  / drop ✓
epoch : 122 iter : 46 (3m 47s) 1.7551  / standing up (from sitting position) ✗ (throw)
epoch : 131 iter : 33 (4m 3s) 1.7493  / reading ✗ (drink water)
epoch : 140 iter : 20 (4m 19s) 1.4190  / drop ✗ (take off jacket)
epoch : 149 iter : 7 (4m 36s) 1.6286  / tear up paper ✗ (take off glasses)

3. Изменить модель: посмотреть зависимость от количества LSTM модулей в модели

In [30]:
class LSTM_net_2(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim, layer_num):
        super().__init__()
        
        self.hidden_dim = hidden_dim
        self.output_dim = output_dim
        
        self.lstm = nn.LSTM(input_dim, 
                            hidden_dim, 
                            layer_num, 
                            batch_first=True)
        
        self.lstm_1 = nn.LSTM(hidden_dim, 
                          hidden_dim, 
                          layer_num, 
                          batch_first=True)
        
        self.dr = nn.Dropout2d(0.1)
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, x):
        
        x, (hn, cn) = self.lstm(x)

        x, (hn, cn) = self.lstm_1(x, (hn, cn))
        
        out = self.fc(x[:, -1])
        
        return out

In [31]:
n_hidden = 128
n_joints = 25 * 3
n_categories = len(LABELS)
n_layer = 2

rnn = LSTM_net_2(
    n_joints,
    n_hidden,
    n_categories,
    n_layer
)
rnn.to(device)

train(rnn)

epoch : 0 iter : 0 (0m 0s) 2.2736  / standing up (from sitting position) ✗ (drop)
epoch : 8 iter : 44 (0m 18s) 2.2990  / drop ✗ (standing up (from sitting position))
epoch : 17 iter : 31 (0m 36s) 2.3086  / drop ✗ (brushing teeth)
epoch : 26 iter : 18 (0m 54s) 2.2974  / drop ✗ (take off jacket)
epoch : 35 iter : 5 (1m 12s) 2.2992  / drop ✗ (standing up (from sitting position))
epoch : 43 iter : 49 (1m 30s) 2.2992  / drop ✓
epoch : 52 iter : 36 (1m 49s) 2.2807  / drop ✓
epoch : 61 iter : 23 (2m 7s) 2.3097  / drop ✗ (take off a shoe)
epoch : 70 iter : 10 (2m 25s) 2.2862  / drop ✗ (drink water)
epoch : 78 iter : 54 (2m 43s) 2.3084  / drop ✗ (take off a shoe)
epoch : 87 iter : 41 (3m 1s) 2.2813  / drop ✓
epoch : 96 iter : 28 (3m 20s) 2.2862  / drop ✗ (standing up (from sitting position))
epoch : 105 iter : 15 (3m 38s) 2.3014  / drop ✗ (tear up paper)
epoch : 114 iter : 2 (3m 56s) 2.2953  / drop ✗ (take off glasses)
epoch : 122 iter : 46 (4m 14s) 2.3046  / drop ✗ (take off glasses)
epoch : 131 iter : 33 (4m 32s) 2.3021  / drop ✗ (take off glasses)
epoch : 140 iter : 20 (4m 51s) 2.2831  / drop ✗ (take off glasses)
epoch : 149 iter : 7 (5m 9s) 2.2518  / drink water ✓

In [32]:
class LSTM_net_3(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim, layer_num):
        super().__init__()
        
        self.hidden_dim = hidden_dim
        self.output_dim = output_dim
        
        self.lstm = nn.LSTM(input_dim, 
                            hidden_dim, 
                            layer_num, 
                            batch_first=True)
        
        self.lstm_1 = nn.LSTM(hidden_dim, 
                              hidden_dim, 
                              layer_num, 
                              batch_first=True)
        
        self.lstm_2 = nn.LSTM(hidden_dim, 
                              hidden_dim, 
                              layer_num, 
                              batch_first=True)
        
        self.dr = nn.Dropout2d(0.1)
        self.fc = nn.Linear(hidden_dim, output_dim)
        
    def forward(self, x):
        
        x, (hn, cn) = self.lstm(x)

        x, (hn, cn) = self.lstm_1(x, (hn, cn))

        x, (hn, cn) = self.lstm_2(x, (hn, cn))

        out = self.fc(x[:, -1])
        
        return out

In [33]:
n_hidden = 128
n_joints = 25 * 3
n_categories = len(LABELS)
n_layer = 2

rnn = LSTM_net_3(
    n_joints,
    n_hidden,
    n_categories,
    n_layer
)
rnn.to(device)

train(rnn)

epoch : 0 iter : 0 (0m 0s) 2.3028  / drink water ✓
epoch : 8 iter : 44 (0m 20s) 2.3054  / drink water ✗ (standing up (from sitting position))
epoch : 17 iter : 31 (0m 40s) 2.3082  / drink water ✗ (brushing teeth)
epoch : 26 iter : 18 (1m 1s) 2.2995  / drink water ✗ (brushing teeth)
epoch : 35 iter : 5 (1m 21s) 2.2987  / drop ✗ (brushing teeth)
epoch : 43 iter : 49 (1m 41s) 2.3019  / drop ✗ (drink water)
epoch : 52 iter : 36 (2m 2s) 2.3060  / drop ✗ (brushing teeth)
epoch : 61 iter : 23 (2m 22s) 2.2970  / drop ✗ (drink water)
epoch : 70 iter : 10 (2m 42s) 2.3071  / drop ✗ (reading)
epoch : 78 iter : 54 (3m 2s) 2.2855  / drop ✗ (standing up (from sitting position))
epoch : 87 iter : 41 (3m 23s) 2.2860  / drop ✗ (brushing teeth)
epoch : 96 iter : 28 (3m 43s) 2.2971  / drop ✗ (tear up paper)
epoch : 105 iter : 15 (4m 4s) 2.3065  / drop ✗ (drink water)
epoch : 114 iter : 2 (4m 24s) 2.3051  / drop ✗ (take off glasses)
epoch : 122 iter : 46 (4m 44s) 2.2941  / drop ✗ (tear up paper)
epoch : 131 iter : 33 (5m 5s) 2.3068  / drop ✗ (tear up paper)
epoch : 140 iter : 20 (5m 25s) 2.3093  / drop ✓
epoch : 149 iter : 7 (5m 45s) 2.2865  / drop ✗ (take off jacket)

4. *Сгенерировать другой датасет с меньшим количеством “кадров” в серии и сравнить улучшилось или ухудшилось качество предсказания. Провести несколько таких итераций, дать свою оценку уменьшению и увеличению кадров, назвать оптимальное, на ваш взгляд, их количество.